body {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 350px;
}

.title {
    align-self: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

.button {
    margin: 5px;
}